################
# Extra features
################
# LEDs
[output_pin printer_light]
pin: PE6   # Replace with your actual pin
pwm: False # Set to False for on/off control

[output_pin offset_light]
pin: PE5
pwm: False

# Chamber temp sensor
[temperature_sensor chamber]
sensor_type: PT1000
sensor_pin: PA0
min_temp: 0
max_temp: 100
gcode_id: C

###################################################
# EDDY
###################################################
[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 1.8 # Set to a non-zero value
i2c_mcu: toolboard_t0 # MCU name of the actual board connected to Eddy Coil
i2c_bus: i2c3_PB3_PB4 # I2C bus actually connected to Eddy Coil
x_offset: -20 # Set actual offset relative to nozzle
y_offset: 67 # Set actual offset relative to nozzle
#data_rate: 500
#reg_drive_current: 17

[gcode_macro SET_GCODE_OFFSET]
rename_existing: SET_GCODE_OFFSET_ORIG
variable_restored: False  # Mark whether the var has been restored from NVM
variable_runtime_offset: 0
gcode:
#  {% if params.Z_ADJUST %}
#    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
#  {% endif %}
#  {% if params.Z %}
#    {% set paramList = rawparams.split() %}
#    {% for i in range(paramList|length) %}
#      {% if paramList[i]=="Z=0" %}
#        {% set temp=paramList.pop(i) %}
#        {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
#        {% if paramList.append(temp) %}{% endif %}
#      {% endif %}
#    {% endfor %}
#    {% set rawparams=paramList|join(' ') %}
#    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
#  {% endif %}
  SET_GCODE_OFFSET_ORIG { rawparams }

# This macro automates a lot of the frequency mapping process and simplifies the steps significantly.
[gcode_macro _PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
  BTT_BED_MESH_CALIBRATE SCAN_MODE=rapid METHOD=scan

################
# Shell Macros
################
# Crowsnest
[gcode_shell_command set_cam_state]
command: /home/pi/cubidex-klipper/scripts/set_cam_state.sh
timeout: 8

[gcode_macro ENABLE_CAM1]
gcode:
    RUN_SHELL_COMMAND CMD=set_cam_state PARAMS="'cam 1' enable"

[gcode_macro DISABLE_CAM1]
gcode:
    RUN_SHELL_COMMAND CMD=set_cam_state PARAMS="'cam 1' disable"